* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.body {
    width: 930px;
    margin: auto; 
}

.logo-container {
    position: relative;
}

.logo {
    width: 210px;
}

.tagline {
    font-family: "Comic San MS", cursive, sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 30px;
}

.contact-us {
    margin-top: 30px;
}
.footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    margin-top: 12px;
}

@media only screen and (max-width: 760px) {
    body {
        font-size: 12px;
    }

    .body {
        width: 100%;
        margin: auto; 
    }

    .logo-container {
        position: relative;
    }

    .logo {
        width: 75px;
        position: absolute;
        top: 66px;
    }

    .tagline {
        font-family: "Comic San MS", cursive, sans-serif;
        font-size: 6px;
        position: absolute;
        top: 120px;
        left: 21px;
    }

    .contact-us {
        margin-top: 30px;
        font-size: 9px;
    }
    .footer {
        font-family: "Times New Roman", Times, serif;
        font-size: 6px;
        margin-top: 12px;
    }    
}
