* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.body {
    padding-top: 12px;
    width: 930px;
    margin: auto; 
}

.logo-container {
    position: relative;
}

.logo {
    width: 210px;
}

.tagline {
    font-family: "Comic San MS", cursive, sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 30px;
}


.shop-links {
    width: 840px;
    margin: auto;
    padding-top: 60px; 
}

.card {
    width: 210px;
    height: 342px;
    margin: auto;
    padding: 12px;
}

.card-img-top {
    width: 180px;
}

.contact-us {
    border-top: 1px #808080 solid;
    margin-top: 30px;
    padding: 30px 0; 
    background-color: #D3D3D3;
}

.footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    border-top: 1px solid black;
    background-color: #808080;
    padding: 12px 0 6px 0;
}


@media only screen and (max-width: 760px) {
    body {
        font-size: 12px;
    }

    .body {
        width: 100%;
        margin: auto; 
    }

    .logo-container {
        position: relative;
    }

    .logo {
        width: 120px;
        position: absolute;
        top: 39px;
    }

    .tagline {
        font-family: "Comic San MS", cursive, sans-serif;
        font-size: 7px;
        position: absolute;
        top: 120px;
        left: 54px;
    }

    .shop-links {
        width: 100%;
        margin: auto;
    }

    .card {
        position: relative;
        width: 100%;
        height: 160px;
        margin: auto;
        padding: auto;
    }

    .card-img-top {
        float: right;
        width: 30%;

    }

    .card-body {
        position: absolute;
        width: 70%;
        text-align: left;
        top: 3px;
        left: 3px;
    }

    .contact-us {
        border-top: 1px #808080 solid;
        margin-top: 30px;
        font-size: 9px;
        background-color: #D3D3D3;
    }
    .footer {
        font-family: "Times New Roman", Times, serif;
        font-size: 6px;
        margin-top: 12px;
        border-top: 1px solid black;
        background-color: #808080;
    }
}
