* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.body {
    width: 70%;
    margin: auto; 
}

.logo-container {
    position: relative;
}

.logo {
    width: 255px;
}

.tagline {
    font-family: "Comic San MS", cursive, sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 170px;
    right: 39px;
}

.contact-us {
    margin-top: 30px;
}
.footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    margin-top: 12px;
}

@media (max-width: 576px) {
    body {
        font-size: 15px;
    }

    .body {
        width: 480px;
        margin: auto; 
    }

    .logo-container {
        position: relative;
    }

    .logo {
        width: 130px;
        position: absolute;
        top: 66px;
    }

    .tagline {
        font-family: "Comic San MS", cursive, sans-serif;
        font-size: 10px;
        position: absolute;
        top: 153px;
        right: 21px;
    }

    .contact-us {
        margin-top: 30px;
    }
    .footer {
        font-family: "Times New Roman", Times, serif;
        font-size: 12px;
        margin-top: 12px;
    }    
}
